In [1]:
import pandas as pd
import numpy as np
dataset=pd.read_csv(r"C:\Users\91903\Downloads\playground-series-s4e11\train.csv")
testdata=pd.read_csv(r"C:\Users\91903\Downloads\playground-series-s4e11\test.csv")
dataset.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [2]:
dataset["Gender_numeric"]=dataset["Gender"].map({"Male":0,"Female":1})
dataset=dataset.drop(columns=['Gender'],axis=1)

In [3]:
dataset["City"].value_counts()

Kalyan         6591
Patna          5924
Vasai-Virar    5765
Kolkata        5689
Ahmedabad      5613
               ...
Shrey             1
Ivaan             1
Vaanya            1
Gaurav            1
Unirar            1
Name: City, Length: 98, dtype: int64

In [4]:
frequency=dataset["City"].value_counts()
outliers=frequency[frequency<=10]
outliers

Mihir      7
Nandini    4
Mahi       3
Vidya      3
City       3
          ..
Shrey      1
Ivaan      1
Vaanya     1
Gaurav     1
Unirar     1
Name: City, Length: 68, dtype: int64

In [5]:
dataset["City"].mode()[0]

'Kalyan'

In [6]:
outlier_threshold=10
outliers=frequency[frequency<=outlier_threshold].index
dataset["City"]=dataset["City"].replace(outliers,dataset["City"].mode()[0])
dataset["City"].value_counts()

Kalyan           6689
Patna            5924
Vasai-Virar      5765
Kolkata          5689
Ahmedabad        5613
Meerut           5528
Ludhiana         5226
Pune             5210
Rajkot           5207
Visakhapatnam    5176
Srinagar         5074
Mumbai           4966
Indore           4872
Agra             4684
Surat            4636
Varanasi         4606
Vadodara         4568
Hyderabad        4496
Kanpur           4398
Jaipur           4328
Thane            4289
Lucknow          4280
Nagpur           4209
Bangalore        4123
Chennai          4044
Ghaziabad        3620
Delhi            3593
Bhopal           3475
Faridabad        3268
Nashik           3144
Name: City, dtype: int64

In [7]:
City_mapping =  {"Kalyan":1,"Patna":2,"Vasai-Virar":3,"Kolkata":4,"Ahmedabad":5,"Meerut":6,
                 "Ludhiana":7,"Pune":8,"Rajkot":9,"Visakhapatnam":10,"Srinagar":11,
                 "Mumbai":12,"Indore":13,"Agra":14,"Surat":15,"Varanasi":16,"Vadodara":17,
                 "Hyderabad":18,"Kanpur":19,"Jaipur":20,"Thane":21,"Lucknow":22,"Nagpur":23,
                 "Bangalore":24,"Chennai":25,"Ghaziabad":26,"Delhi":27,"Bhopal":28,
                 "Faridabad":29,"Nashik":30}
dataset['City_numeric'] = dataset['City'].map(City_mapping)
dataset=dataset.drop(columns=['City'],axis=1)

In [8]:
dataset=dataset.drop(columns=["Working Professional or Student"],axis=1)
dataset["Profession"].isnull().sum()

36630

In [9]:
dataset["Profession"]=dataset["Profession"].fillna("Student")
frequency1=dataset['Profession'].value_counts()
dataset['Profession'].mode()[0]

'Student'

In [10]:
prof_outlier_threshold = 10
prof_outliers = frequency1[frequency1 <= prof_outlier_threshold].index
prof_outliers

Index(['Academic', 'Unemployed', 'Yogesh', 'Profession', 'BCA', 'MBA', 'LLM',
       'PhD', 'Analyst', 'Patna', 'Pranav', 'Visakhapatnam', 'M.Ed',
       'Moderate', 'Nagpur', 'B.Ed', 'Unveil', 'BBA', 'MBBS',
       'Working Professional', 'Medical Doctor', 'City Manager', 'FamilyVirar',
       'Dev', 'BE', 'B.Com', 'Family Consultant', 'Yuvraj'],
      dtype='object')

In [11]:
dataset['Profession_cleaned'] = dataset['Profession'].replace(prof_outliers, dataset['Profession'].mode()[0])
dataset['Profession_cleaned'].unique()

array(['Chef', 'Teacher', 'Student', 'Business Analyst',
       'Finanancial Analyst', 'Chemist', 'Electrician',
       'Software Engineer', 'Data Scientist', 'Plumber',
       'Marketing Manager', 'Accountant', 'Entrepreneur', 'HR Manager',
       'UX/UI Designer', 'Content Writer', 'Educational Consultant',
       'Civil Engineer', 'Manager', 'Pharmacist', 'Financial Analyst',
       'Architect', 'Mechanical Engineer', 'Customer Support',
       'Consultant', 'Judge', 'Researcher', 'Pilot', 'Graphic Designer',
       'Travel Consultant', 'Digital Marketer', 'Lawyer',
       'Research Analyst', 'Sales Executive', 'Doctor',
       'Investment Banker'], dtype=object)

In [12]:
dataset['Profession_cleaned']=dataset['Profession_cleaned'].replace("Finanancial Analyst",'Financial Analyst')

In [13]:
dataset['Profession_cleaned'].value_counts()

Student                   36680
Teacher                   24906
Content Writer             7814
Architect                  4370
Consultant                 4229
HR Manager                 4022
Pharmacist                 3893
Doctor                     3255
Business Analyst           3161
Entrepreneur               2968
Chemist                    2967
Financial Analyst          2903
Chef                       2862
Educational Consultant     2852
Data Scientist             2390
Researcher                 2328
Lawyer                     2212
Customer Support           2055
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1748
Sales Executive            1739
Manager                    1737
Judge                      1712
Electrician                1582
Software Engineer          1510
Civil Engineer             1470
UX/UI Designer             1452
Digital Marketer           1372
Accountant                 1339
Mechanical Engineer        1177
Graphic Designer           1163
Research Analyst            690
Investment Banker           393
Name: Profession_cleaned, dtype: int64

In [14]:
Occupation_mapping = {
    "Student": 1,
    "Teacher": 2,
    "Content Writer": 3,
    "Architect": 4,
    "Consultant": 5,
    "HR Manager": 6,
    "Pharmacist": 7,
    "Doctor": 8,
    "Business Analyst": 9,
    "Entrepreneur": 10,
    "Chemist": 11,
    "Financial Analyst": 12,
    "Chef": 13,
    "Educational Consultant": 14,
    "Data Scientist": 15,
    "Researcher": 16,
    "Lawyer": 17,
    "Customer Support": 18,
    "Marketing Manager": 19,
    "Pilot": 20,
    "Travel Consultant": 21,
    "Plumber": 22,
    "Sales Executive": 23,
    "Manager": 24,
    "Judge": 25,
    "Electrician": 26,
    "Software Engineer": 27,
    "Civil Engineer": 28,
    "UX/UI Designer": 29,
    "Digital Marketer": 30,
    "Accountant": 31,
    "Mechanical Engineer": 32,
    "Graphic Designer": 33,
    "Research Analyst": 34,
    "Investment Banker": 35
}

dataset['Profession_numeric'] = dataset['Profession_cleaned'].map(Occupation_mapping )
dataset=dataset.drop(columns=['Profession_cleaned'],axis=1)
dataset=dataset.drop(columns=['Profession'],axis=1)

In [15]:
dataset['Academic/work Pressure'] = dataset['Academic Pressure'].fillna(dataset['Work Pressure'])
dataset['Study/job Satisfaction'] = dataset['Study Satisfaction'].fillna(dataset['Job Satisfaction'])
dataset=dataset.drop(columns=['Academic Pressure','Work Pressure','Study Satisfaction','Job Satisfaction'], axis=1)
dataset.head(2)

,id,Name,Age,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_numeric,City_numeric,Profession_numeric,Academic/work Pressure,Study/job Satisfaction
0,0,Aaradhya,49.0,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,1,7,13,5.0,2.0
1,1,Vivan,26.0,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,0,16,2,4.0,3.0

In [16]:
dataset['CGPA']=dataset['CGPA'].fillna(0)
dataset.head(2)

,id,Name,Age,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_numeric,City_numeric,Profession_numeric,Academic/work Pressure,Study/job Satisfaction
0,0,Aaradhya,49.0,0.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,1,7,13,5.0,2.0
1,1,Vivan,26.0,0.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,0,16,2,4.0,3.0

In [17]:
dataset['Sleep Duration'].value_counts()

Less than 5 hours    38784
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: Sleep Duration, dtype: int64

In [18]:
def clean_sleep_duration(value):
    try:
        value = value.lower().replace("hours", "").replace("hour", "").strip()
        
        # Handle "Less than" and "More than" phrases
        if "less than" in value:
            return 4  # Approximate value for "Less than 5 hours"
        elif "more than" in value:
            return 9  # Approximate value for "More than 8 hours"
        
        # Handle ranges by calculating the average
        if '-' in value:
            start, end = map(int, value.split('-'))
            avg_value = (start + end) / 2
            return avg_value if 3 <= avg_value <= 12 else None  # Only realistic sleep durations
        
        # Handle single numbers (like "8")
        elif value.isdigit():
            hours = int(value)
            return hours if 3 <= hours <= 12 else None  # Only keep realistic values
        
    except ValueError:
        return None  # Return None for invalid entries
     # Return None for clearly unrelated entries (e.g., 'No', 'Unhealthy', city names)
    return None

# Step 2: Apply cleaning function to the column
dataset['sleep_duration_numeric'] = dataset['Sleep Duration'].apply(clean_sleep_duration)

# Step 3: Replace None values (irrelevant entries) with the mode of valid entries
mode_value = dataset['sleep_duration_numeric'].mode()[0]
dataset['sleep_duration_numeric']=dataset['sleep_duration_numeric'].fillna(mode_value)

dataset.head(2)

,id,Name,Age,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_numeric,City_numeric,Profession_numeric,Academic/work Pressure,Study/job Satisfaction,sleep_duration_numeric
0,0,Aaradhya,49.0,0.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,1,7,13,5.0,2.0,9.0
1,1,Vivan,26.0,0.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,0,16,2,4.0,3.0,4.0

In [19]:
dataset=dataset.drop(columns=['Sleep Duration'],axis=1)

In [20]:
# CLEANING "DIETARY HABITS COLUMN"
dataset['Dietary Habits'].value_counts()

Moderate             49705
Unhealthy            46227
Healthy              44741
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1.0                      1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: Dietary Habits, dtype: int64

In [21]:
# DEFINING VALID CATEGORIES
valid_categories = ['Moderate', 'Unhealthy', 'Healthy']

# Step 2: Replace invalid entries with the mode of valid categories
mode_value = dataset['Dietary Habits'][dataset['Dietary Habits'].isin(valid_categories)].mode()[0]

dataset['Dietary Habits_cleaned'] = dataset['Dietary Habits'].apply(lambda x: x if x in valid_categories else mode_value)

# Apply the mapping to convert to numeric values
Dietary_Habits_mapping = {'Unhealthy': 0, 'Moderate': 1, 'Healthy': 2}
dataset['Dietary_Habits_numeric'] = dataset['Dietary Habits_cleaned'].map(Dietary_Habits_mapping)
dataset=dataset.drop(columns=['Dietary Habits','Dietary Habits_cleaned'],axis=1)

In [22]:
dataset['Degree'].unique()

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd',
       'B.Sc', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'Class 11',
       'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
       'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan',
       'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA',
       'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29',
       'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03',
       'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA',
       'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi',
       'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch',
       'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya',
       'Mahika', nan, 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional',
       'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
       'B B.Com', 'RCA', 'Mihir', 'Advait'], dtype=object)

In [23]:
# REPLACING MISSPELT CATEGORIES TO VALID CATEGORY:

modified_degree = {'ACA': 'MCA', 'MPA': 'MBA','BEd':'B.Ed','B.Sc':'BSc','S.Tech':'B.Tech','H_Pharm':'M.Pharm',
                      'P.Com':'B.Com','BPharm':'B.Pharm','LL.Com':'M.Com','MPharm':'M.Pharm','L.Ed':'M.Ed',
                     'P.Pharm':'B.Pharm','BArch':'B.Arch','S.Pharm':'M.Pharm','LLBA':'LLB','M. Business Analyst':'MBA',
                    'LLCom':'M.Com','MTech':'M.Tech','BPA':'BBA','B.03':'B.Ed','MEd':'M.Ed','B':'BA','B BA':'BBA',
                     'B.B.Arch':'B.Arch','M_Tech':'M.Tech','BB':'BBA','LLTech':'M.Tech','S.Arch':'B.Arch','HCA':'MCA',
                     'B.Student':'BSc','LL B.Ed':'LLB','M.S':'MSc','K.Ed':'B.Ed','B.3.79':'B.Ed','LLS':'LLB','LLEd':'LLB',
                     'E.Tech':'B.Tech','Business Analyst':'MBA','Data Scientist':'MSc','HR Manager':'MBA','Doctor':'MBBS',
                     'N.Pharm':'M.Pharm','LCA':'MCA','B B.Com':'B.Com','RCA':'BCA'}
dataset['Degree'].map(modified_degree).fillna(dataset['Degree'])
dataset['Degree'].unique()

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd',
       'B.Sc', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'Class 11',
       'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
       'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan',
       'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA',
       'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29',
       'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03',
       'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA',
       'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi',
       'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch',
       'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya',
       'Mahika', nan, 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional',
       'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
       'B B.Com', 'RCA', 'Mihir', 'Advait'], dtype=object)

In [24]:
# FINDING THE OUTLIERS IN "DEGREE" COLUMN AND REPLACING THEM WITH UNKNOWN:

degree_freq_threshold = 10
valid_qualifications = dataset['Degree'].value_counts()[dataset['Degree'].value_counts() > degree_freq_threshold].index.tolist()

# Step 1: Define a list of valid educational qualifications:

valid_qualifications = ['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
    'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
    'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech',  'MBBS',
    'M.Pharm',  'M.Arch', 'UX/UI Designer','Class 11',
    ]

# Step 2: Replace any entry not in the valid qualifications list with 'Unknown'
dataset['Degree_cleaned'] = dataset['Degree'].apply(lambda x: x if x in valid_qualifications else 'Unknown')

# Count the frequency of each category
degree_frequency = dataset['Degree_cleaned'].value_counts()

# Display categories with low frequency (e.g., frequency <= 10)
degree_outliers = degree_frequency[degree_frequency <= 10]


degree_outlier_threshold = 10
degree_outliers = degree_frequency[degree_frequency <= degree_outlier_threshold].index
dataset['Degree_cleaned'].replace(outliers, dataset['Degree'].mode()[0])

0              BHM
1              LLB
2          B.Pharm
3              BBA
4              BBA
            ...
140695    Class 12
140696      B.Tech
140697       B.Com
140698    Class 12
140699         BCA
Name: Degree_cleaned, Length: 140700, dtype: object

In [25]:
dataset["Degree_cleaned"].value_counts()

Class 12          14729
B.Ed              11691
B.Arch             8742
B.Com              8113
B.Pharm            5856
BCA                5739
M.Ed               5668
MCA                5234
BBA                5030
BSc                5027
MSc                4879
Unknown            4753
M.Pharm            4537
M.Tech             4475
B.Tech             4425
LLB                4348
BHM                4305
MBA                3818
BA                 3750
ME                 3632
MD                 3383
MHM                3286
BE                 3104
PhD                3103
M.Com              3094
MBBS               3082
MA                 2887
M.Arch                5
UX/UI Designer        4
Class 11              1
Name: Degree_cleaned, dtype: int64

In [26]:
Education_mapping = {
    "Class 12": 1,
    "B.Ed": 2,
    "B.Arch": 3,
    "B.Com": 4,
    "B.Pharm": 5,
    "BCA": 6,
    "M.Ed": 7,
    "MCA": 8,
    "BBA": 9,
    "BSc": 10,
    "MSc": 11,
    "Unknown": 12,
    "M.Pharm": 13,
    "M.Tech": 14,
    "B.Tech": 15,
    "LLB": 16,
    "BHM": 17,
    "MBA": 18,
    "BA": 19,
    "ME": 20,
    "MD": 21,
    "MHM": 22,
    "BE": 23,
    "PhD": 24,
    "M.Com": 25,
    "MBBS": 26,
    "MA": 27,
    "M.Arch": 28,
    "UX/UI Designer": 29,
    "Class 11": 30
}
dataset['Degree_numeric'] = dataset['Degree_cleaned'].map(Education_mapping)
dataset=dataset.drop(columns=["Degree","Degree_cleaned"],axis=1)

In [27]:
dataset['Family History of Mental Illness_numeric']=dataset['Family History of Mental Illness'].map({"No":0, "Yes":1})
dataset['Have you ever had suicidal thoughts ?_numeric']=dataset['Have you ever had suicidal thoughts ?'].map({"No":0, "Yes":1})
dataset=dataset.drop(columns=['Family History of Mental Illness','Have you ever had suicidal thoughts ?'],axis=1)

In [28]:
dataset["Financial Stress"]=dataset["Financial Stress"].fillna(dataset["Financial Stress"].mode()[0])
dataset.isnull().sum()

id                                                0
Name                                              0
Age                                               0
CGPA                                              0
Work/Study Hours                                  0
Financial Stress                                  0
Depression                                        0
Gender_numeric                                    0
City_numeric                                      0
Profession_numeric                                0
Academic/work Pressure                           21
Study/job Satisfaction                           15
sleep_duration_numeric                            0
Dietary_Habits_numeric                            0
Degree_numeric                                    0
Family History of Mental Illness_numeric          0
Have you ever had suicidal thoughts ?_numeric     0
dtype: int64

In [29]:
dataset['Academic/work Pressure']=dataset['Academic/work Pressure'].fillna(dataset['Academic/work Pressure'].mode()[0])
dataset['Study/job Satisfaction']=dataset['Study/job Satisfaction'].fillna(dataset['Study/job Satisfaction'].mode()[0])

In [30]:
dataset=dataset.drop(columns=['Name'],axis=1)
dataset.isnull().sum()

id                                               0
Age                                              0
CGPA                                             0
Work/Study Hours                                 0
Financial Stress                                 0
Depression                                       0
Gender_numeric                                   0
City_numeric                                     0
Profession_numeric                               0
Academic/work Pressure                           0
Study/job Satisfaction                           0
sleep_duration_numeric                           0
Dietary_Habits_numeric                           0
Degree_numeric                                   0
Family History of Mental Illness_numeric         0
Have you ever had suicidal thoughts ?_numeric    0
dtype: int64

In [31]:
#testdata

In [32]:
testdata["Gender_numeric"]=testdata["Gender"].map({"Male":0,"Female":1})
testdata=testdata.drop(columns=['Gender'],axis=1)

In [33]:
testdata["City"].value_counts()

Kalyan               4387
Vasai-Virar          3897
Patna                3888
Kolkata              3726
Ahmedabad            3677
                     ...
Mhopal                  1
Less than 5 hours       1
Pratyush                1
Malyan                  1
No.12                   1
Name: City, Length: 68, dtype: int64

In [34]:
frequency2=testdata["City"].value_counts()
outliers_test=frequency2[frequency2<=10]
outliers_test

Vidya                4
Siddhesh             3
Bhavna               3
Vikram               2
Keshav               2
Nalini               2
City                 2
Hrithik              2
San Vasai-Virar      1
Vaikot               1
Leela                1
Chemist              1
Ghopal               1
No                   1
More Delhi           1
Saanvi               1
Pratham              1
Vidhi                1
Abhinav              1
Rolkata              1
Parth                1
Aditi                1
Saurav               1
Sara                 1
Less Delhi           1
Golkata              1
Is Kanpur            1
Unaly                1
Thani                1
Lawyer               1
Vaishnavi            1
Ira                  1
Avni                 1
Mhopal               1
Less than 5 hours    1
Pratyush             1
Malyan               1
No.12                1
Name: City, dtype: int64

In [35]:
testdata["City"].mode()[0]

'Kalyan'

In [36]:
outlier_threshold_test=10
outliers_tests=frequency2[frequency2<=outlier_threshold_test].index
testdata["City"]=testdata["City"].replace(outliers_tests,testdata["City"].mode()[0])
testdata["City"].value_counts()

Kalyan           4437
Vasai-Virar      3897
Patna            3888
Kolkata          3726
Ahmedabad        3677
Meerut           3661
Srinagar         3547
Ludhiana         3545
Rajkot           3450
Visakhapatnam    3416
Pune             3318
Agra             3189
Vadodara         3169
Mumbai           3129
Hyderabad        3123
Surat            3090
Varanasi         3052
Indore           3040
Kanpur           2978
Jaipur           2874
Lucknow          2860
Thane            2835
Nagpur           2748
Bangalore        2707
Chennai          2674
Delhi            2536
Ghaziabad        2486
Bhopal           2370
Faridabad        2196
Nashik           2182
Name: City, dtype: int64

In [37]:
test_City_mapping =  {"Kalyan":1,"Patna":2,"Vasai-Virar":3,"Kolkata":4,"Ahmedabad":5,"Meerut":6,
                 "Ludhiana":7,"Pune":8,"Rajkot":9,"Visakhapatnam":10,"Srinagar":11,
                 "Mumbai":12,"Indore":13,"Agra":14,"Surat":15,"Varanasi":16,"Vadodara":17,
                 "Hyderabad":18,"Kanpur":19,"Jaipur":20,"Thane":21,"Lucknow":22,"Nagpur":23,
                 "Bangalore":24,"Chennai":25,"Ghaziabad":26,"Delhi":27,"Bhopal":28,
                 "Faridabad":29,"Nashik":30}
testdata['City_numeric'] = testdata['City'].map(test_City_mapping)
testdata=testdata.drop(columns=['City'],axis=1)

In [38]:
testdata=testdata.drop(columns=["Working Professional or Student"],axis=1)

In [39]:
testdata["Profession"].isnull().sum()

24632

In [40]:
testdata["Profession"]=testdata["Profession"].fillna("Student")
testdata["Profession"].isnull().sum()

0

In [41]:
testdata["Profession"].value_counts()

Student           24640
Teacher           16385
Content Writer     5187
Architect          2982
Consultant         2920
                  ...
24th                  1
B.Pharm               1
ME                    1
3M                    1
M.Pharm               1
Name: Profession, Length: 64, dtype: int64

In [42]:
testdata["Profession"].unique()

array(['Judge', 'Educational Consultant', 'Teacher', 'Student',
       'Customer Support', 'Chemist', 'Content Writer', 'Consultant',
       'HR Manager', 'Research Analyst', 'Digital Marketer',
       'Electrician', 'Marketing Manager', 'Plumber', 'Pharmacist',
       'Lawyer', 'Pilot', 'Architect', 'Chef', 'Graphic Designer',
       'Entrepreneur', 'Manager', 'Mechanical Engineer',
       'Software Engineer', 'Travel Consultant', 'Finanancial Analyst',
       'Financial Analyst', 'Doctor', 'Business Analyst',
       'UX/UI Designer', 'Sales Executive', 'Data Scientist',
       'Accountant', 'Researcher', 'Civil Engineer', 'Investment Banker',
       'Unhealthy', 'B.Ed', 'Working Professional', '3M', 'ME', 'B.Pharm',
       '24th', 'Manvi', 'Yogesh', 'Samar', 'Surat', 'PhD', 'M.Ed', 'MD',
       'Name', 'MCA', 'Simran', 'Analyst', 'Profession', 'Unemployed',
       'BBA', 'M.Tech', 'LLM', 'Surgeon', 'No', 'Unveil',
       'City Consultant', 'M.Pharm'], dtype=object)

In [43]:
testdata["Profession"].mode()[0]

'Student'

In [44]:
test_frequency = testdata['Profession'].value_counts()
testprof_outliers = test_frequency[test_frequency <= 10]

testprof_outlier_threshold = 10
testprof_outliers = test_frequency[test_frequency<= testprof_outlier_threshold].index
testprof_outliers

Index(['Working Professional', 'Unhealthy', 'B.Ed', 'MD', 'Unemployed',
       'Surat', 'BBA', 'Profession', 'Surgeon', 'M.Tech', 'LLM', 'Simran',
       'No', 'Unveil', 'City Consultant', 'Analyst', 'M.Ed', 'MCA', 'Name',
       'PhD', 'Samar', 'Yogesh', 'Manvi', '24th', 'B.Pharm', 'ME', '3M',
       'M.Pharm'],
      dtype='object')

In [45]:
testdata['Profession1'] = testdata['Profession'].replace(testprof_outliers, testdata['Profession'].mode()[0])
testdata['Profession1'].value_counts()

Student                   24676
Teacher                   16385
Content Writer             5187
Architect                  2982
Consultant                 2920
Pharmacist                 2656
HR Manager                 2601
Doctor                     2198
Business Analyst           2186
Chemist                    1967
Entrepreneur               1935
Chef                       1844
Educational Consultant     1827
Data Scientist             1582
Lawyer                     1497
Researcher                 1496
Pilot                      1448
Customer Support           1422
Marketing Manager          1284
Judge                      1189
Travel Consultant          1188
Manager                    1155
Sales Executive            1139
Plumber                    1123
Electrician                1121
Financial Analyst          1048
Software Engineer          1002
Digital Marketer            942
Civil Engineer              938
UX/UI Designer              915
Finanancial Analyst         894
Accountant                  853
Mechanical Engineer         800
Graphic Designer            720
Research Analyst            423
Investment Banker           257
Name: Profession1, dtype: int64

In [46]:
testdata['Profession2']=testdata['Profession1'].replace("Finanancial Analyst","Financial Analyst")

In [47]:
testdata['Profession2'].value_counts()

Student                   24676
Teacher                   16385
Content Writer             5187
Architect                  2982
Consultant                 2920
Pharmacist                 2656
HR Manager                 2601
Doctor                     2198
Business Analyst           2186
Chemist                    1967
Financial Analyst          1942
Entrepreneur               1935
Chef                       1844
Educational Consultant     1827
Data Scientist             1582
Lawyer                     1497
Researcher                 1496
Pilot                      1448
Customer Support           1422
Marketing Manager          1284
Judge                      1189
Travel Consultant          1188
Manager                    1155
Sales Executive            1139
Plumber                    1123
Electrician                1121
Software Engineer          1002
Digital Marketer            942
Civil Engineer              938
UX/UI Designer              915
Accountant                  853
Mechanical Engineer         800
Graphic Designer            720
Research Analyst            423
Investment Banker           257
Name: Profession2, dtype: int64

In [48]:
profession_mapping = {
    "Student": 1,
    "Teacher": 2,
    "Content Writer": 3,
    "Architect": 4,
    "Consultant": 5,
    "Pharmacist": 6,
    "HR Manager": 7,
    "Doctor": 8,
    "Business Analyst": 9,
    "Chemist": 10,
    "Financial Analyst": 11,
    "Entrepreneur": 12,
    "Chef": 13,
    "Educational Consultant": 14,
    "Data Scientist": 15,
    "Lawyer": 16,
    "Researcher": 17,
    "Pilot": 18,
    "Customer Support": 19,
    "Marketing Manager": 20,
    "Judge": 21,
    "Travel Consultant": 22,
    "Manager": 23,
    "Sales Executive": 24,
    "Plumber": 25,
    "Electrician": 26,
    "Software Engineer": 27,
    "Digital Marketer": 28,
    "Civil Engineer": 29,
    "UX/UI Designer": 30,
    "Accountant": 31,
    "Mechanical Engineer": 32,
    "Graphic Designer": 33,
    "Research Analyst": 34,
    "Investment Banker": 35
}

testdata['Profession_numeric'] = testdata['Profession2'].map(profession_mapping)
testdata=testdata.drop(columns=['Profession','Profession2','Profession1'],axis=1)

In [49]:
testdata["Profession_numeric"].isnull().sum()

0

In [50]:
testdata.head(2)

,id,Name,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Gender_numeric,City_numeric,Profession_numeric
0,140700,Shivam,53.0,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,0,10,21
1,140701,Sanya,58.0,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,1,4,14

In [51]:
testdata['Academic/work Pressure'] = testdata['Academic Pressure'].fillna(testdata['Work Pressure'])
testdata['Study/job Satisfaction'] = testdata['Study Satisfaction'].fillna(testdata['Job Satisfaction'])
testdata=testdata.drop(columns=['Academic Pressure','Work Pressure','Study Satisfaction','Job Satisfaction'], axis=1)

In [52]:
testdata['CGPA']=testdata['CGPA'].fillna(0)

In [53]:
testdata['Sleep Duration'].value_counts()

Less than 5 hours                      25661
7-8 hours                              24491
More than 8 hours                      22190
5-6 hours                              21404
6-7 hours                                  7
8-9 hours                                  6
4-5 hours                                  6
2-3 hours                                  4
3-4 hours                                  3
9-5 hours                                  2
1-6 hours                                  2
9-5                                        2
Meerut                                     2
4-6 hours                                  2
1-2 hours                                  2
10-6 hours                                 1
9-10 hours                                 1
9-11 hours                                 1
50-75 hours                                1
6 hours                                    1
1-3 hours                                  1
8-89 hours                                 1
20-21 hours                                1
Have_you_ever_had_suicidal_thoughts        1
60-65 hours                                1
9-6 hours                                  1
than 5 hours                               1
0                                          1
Unhealthy                                  1
Vivan                                      1
3-6 hours                                  1
Name: Sleep Duration, dtype: int64

In [54]:
def test_clean_sleep_duration(value):
    try:
        value = value.lower().replace("hours", "").replace("hour", "").strip()
        
        # Handle "Less than" and "More than" phrases
        if "less than" in value:
            return 4  # Approximate value for "Less than 5 hours"
        elif "more than" in value:
            return 9  # Approximate value for "More than 8 hours"
        
        # Handle ranges by calculating the average
        if '-' in value:
            start, end = map(int, value.split('-'))
            avg_value = (start + end) / 2
            return avg_value if 3 <= avg_value <= 12 else None  # Only realistic sleep durations
        
        # Handle single numbers (like "8")
        elif value.isdigit():
            hours = int(value)
            return hours if 3 <= hours <= 12 else None  # Only keep realistic values
        
    except ValueError:
        return None  # Return None for invalid entries
     # Return None for clearly unrelated entries (e.g., 'No', 'Unhealthy', city names)
    return None

# Step 2: Apply cleaning function to the column
testdata['sleep_duration_numeric'] = testdata['Sleep Duration'].apply(test_clean_sleep_duration)

# Step 3: Replace None values (irrelevant entries) with the mode of valid entries
test_mode_value = testdata['sleep_duration_numeric'].mode()[0]
testdata['sleep_duration_numeric']=testdata['sleep_duration_numeric'].fillna(test_mode_value)

In [55]:
testdata=testdata.drop(columns=['Sleep Duration'],axis=1)

In [56]:
testdata['Dietary Habits'].value_counts()

Moderate        33018
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: Dietary Habits, dtype: int64

In [57]:
# DEFINING VALID CATEGORIES
test_valid_categories = ['Moderate', 'Unhealthy', 'Healthy']

# Step 2: Replace invalid entries with the mode of valid categories
t_mode_value = testdata['Dietary Habits'][testdata['Dietary Habits'].isin(test_valid_categories)].mode()[0]

testdata['Dietary Habits_cleaned'] = testdata['Dietary Habits'].apply(lambda x: x if x in test_valid_categories else t_mode_value)

In [58]:
# Apply the mapping to convert to numeric values
test_Dietary_Habits_mapping = {'Unhealthy': 0, 'Moderate': 1, 'Healthy': 2}
testdata['Dietary_Habits_numeric'] = testdata['Dietary Habits_cleaned'].map(test_Dietary_Habits_mapping)
testdata=testdata.drop(columns=['Dietary Habits','Dietary Habits_cleaned'],axis=1)

testdata['Degree'].unique()

array(['LLB', 'B.Ed', 'B.Arch', 'BSc', 'BCA', 'B.Com', 'MA', 'BA', 'BBA',
       'Class 12', 'MD', 'MBA', 'M.Ed', 'M.Pharm', 'BHM', 'LLM', 'PhD',
       'M.Com', 'BE', 'MBBS', 'B.Tech', 'ME', 'MCA', 'B.Pharm', 'MHM',
       'M.Tech', 'BTech', 'MSc', 'BArch', 'B. Gender', 'B.Study_Hours',
       'Advait', 'M.Arch', 'A.Ed', 'Mechanical Engineer', 'B.H', 'B.Sc',
       'B', 'M.UI', 'Vibha', 'B BCA', 'B.Press', 'BPharm', 'Gagan',
       'MPharm', 'Travel Consultant', '5.65', 'Business Analyst',
       'Eshita', 'B_Com', 'Navya', 'B._Pharm', 'Pune', 'Bian', 'B.M.Com',
       'Kavya', 'M.M.Ed', 'S.Pharm', 'Vrinda', 'M', 'E.Ed', '3.0',
       'Moham', 'B.BA', nan, 'I.Ed', 'Degree', 'Magan', 'B B.Tech',
       'M.B.Ed', 'Bhopal', 'B Financial Analyst', 'GCA', 'G.Ed', 'Rupak',
       'RCA', 'B.CA', 'PCA', 'J.Ed', 'BH', 'BEd', '8.95', 'Aadhya', '20',
       'Banchal', 'M.', 'K.Ed', 'BHCA'], dtype=object)

In [59]:
# REPLACING MISSPELT CATEGORIES TO VALID CATEGORY:

test_modified_degree = {'BHCA': 'MCA','RCA':'BCA','Mechanical Engineer':'B.Tech','BEd':'B.Ed','J.Ed':'B.Ed',
                   'G.Ed':'B.Ed','Business Analyst':'MBA','BArch':'B.Arch','B.Sc':'BSc','A.Ed':'B.Ed',
                   'B_Com':'B.Com',  'B.CA':'BCA','I.Ed':'B.Ed','BEd':'B.Ed','B Financial Analyst':'BBA',
                   'BPharm':'B.Pharm','B._Pharm':'B.Pharm','B B.Tech':'B.Tech','B':'BA','B.BA':'BBA',
                   'B.H':'BHM','B BCA':'BCA','MPharm':'M.Pharm','B.M.Com':'M.Com','GCA':'BC,A','M.B.Ed':'M.Ed',
                   'S.Pharm':'M.Pharm','M.M.Ed':'M.Ed','E.Ed':'B.Ed','PCA':'BCA','BH':'BHM','M.':'MA','M':'MA',
                   'Bian':'BHM','K.Ed':'M.Ed'}

testdata['Degree'] = testdata['Degree'].map(test_modified_degree).fillna(testdata['Degree'])
testdata['Degree'].unique()

array(['LLB', 'B.Ed', 'B.Arch', 'BSc', 'BCA', 'B.Com', 'MA', 'BA', 'BBA',
       'Class 12', 'MD', 'MBA', 'M.Ed', 'M.Pharm', 'BHM', 'LLM', 'PhD',
       'M.Com', 'BE', 'MBBS', 'B.Tech', 'ME', 'MCA', 'B.Pharm', 'MHM',
       'M.Tech', 'BTech', 'MSc', 'B. Gender', 'B.Study_Hours', 'Advait',
       'M.Arch', 'M.UI', 'Vibha', 'B.Press', 'Gagan', 'Travel Consultant',
       '5.65', 'Eshita', 'Navya', 'Pune', 'Kavya', 'Vrinda', '3.0',
       'Moham', nan, 'Degree', 'Magan', 'Bhopal', 'BC,A', 'Rupak', '8.95',
       'Aadhya', '20', 'Banchal'], dtype=object)

In [60]:
test_degree_freq_threshold = 10
test_valid_qualifications = testdata['Degree'].value_counts()[testdata['Degree'].value_counts() > test_degree_freq_threshold].index.tolist()

# Step 1: Define a list of valid educational qualifications:

test_valid_qualifications = ['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
    'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
    'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech',  'MBBS',
    'M.Pharm',  'M.Arch', 'UX/UI Designer','Class 11',
    ]

# Step 2: Replace any entry not in the valid qualifications list with 'Unknown'
testdata['Degree_cleaned'] = testdata['Degree'].apply(lambda x: x if x in test_valid_qualifications else 'Unknown')

# Count the frequency of each category
test_degree_frequency = testdata['Degree_cleaned'].value_counts()

# Display categories with low frequency (e.g., frequency <= 10)
test_degree_outliers = test_degree_frequency[test_degree_frequency <= 10]

test_degree_outlier_threshold = 10
test_degree_outliers = test_degree_frequency[test_degree_frequency <= test_degree_outlier_threshold].index
testdata['Degree_cleaned'].replace(test_degree_outliers, testdata['Degree'].mode()[0])

testdata["Degree_cleaned"].value_counts()

Class 12    9812
B.Ed        7768
B.Arch      6038
B.Com       5440
B.Pharm     3991
BCA         3873
M.Ed        3710
MCA         3439
BBA         3389
BSc         3318
Unknown     3167
MSc         3096
M.Tech      3017
M.Pharm     2999
LLB         2938
B.Tech      2887
BHM         2779
BA          2492
MBA         2471
ME          2391
MD          2289
BE          2166
MHM         2149
M.Com       2130
PhD         2073
MBBS        2033
MA          1936
M.Arch         9
Name: Degree_cleaned, dtype: int64

In [61]:
test_Education_mapping = {
    "Class 12": 1,
    "B.Ed": 2,
    "B.Arch": 3,
    "B.Com": 4,
    "B.Pharm": 5,
    "BCA": 6,
    "M.Ed": 7,
    "MCA": 8,
    "BBA": 9,
    "BSc": 10,
    "MSc": 11,
    "Unknown": 12,
    "M.Pharm": 13,
    "M.Tech": 14,
    "B.Tech": 15,
    "LLB": 16,
    "BHM": 17,
    "MBA": 18,
    "BA": 19,
    "ME": 20,
    "MD": 21,
    "MHM": 22,
    "BE": 23,
    "PhD": 24,
    "M.Com": 25,
    "MBBS": 26,
    "MA": 27,
    "M.Arch": 28,
    "UX/UI Designer": 29,
    "Class 11": 30
}
testdata['Degree_numeric'] = testdata['Degree_cleaned'].map(test_Education_mapping)
testdata=testdata.drop(columns=["Degree","Degree_cleaned"],axis=1)

In [62]:
testdata['Family History of Mental Illness_numeric']=testdata['Family History of Mental Illness'].map({"No":0, "Yes":1})
testdata['Have you ever had suicidal thoughts ?_numeric']=testdata['Have you ever had suicidal thoughts ?'].map({"No":0, "Yes":1})
testdata=testdata.drop(columns=['Family History of Mental Illness','Have you ever had suicidal thoughts ?'],axis=1)

In [63]:
testdata["Financial Stress"]=testdata["Financial Stress"].fillna(testdata["Financial Stress"].mode()[0])
testdata.isnull().sum()

id                                                0
Name                                              0
Age                                               0
CGPA                                              0
Work/Study Hours                                  0
Financial Stress                                  0
Gender_numeric                                    0
City_numeric                                      0
Profession_numeric                                0
Academic/work Pressure                           12
Study/job Satisfaction                            8
sleep_duration_numeric                            0
Dietary_Habits_numeric                            0
Degree_numeric                                    0
Family History of Mental Illness_numeric          0
Have you ever had suicidal thoughts ?_numeric     0
dtype: int64

In [64]:
testdata['Academic/work Pressure']=testdata['Academic/work Pressure'].fillna(testdata['Academic/work Pressure'].mode()[0])
testdata['Study/job Satisfaction']=testdata['Study/job Satisfaction'].fillna(testdata['Study/job Satisfaction'].mode()[0])

In [65]:
testdata=testdata.drop(columns=['Name'],axis=1)
testdata.isnull().sum()

id                                               0
Age                                              0
CGPA                                             0
Work/Study Hours                                 0
Financial Stress                                 0
Gender_numeric                                   0
City_numeric                                     0
Profession_numeric                               0
Academic/work Pressure                           0
Study/job Satisfaction                           0
sleep_duration_numeric                           0
Dietary_Habits_numeric                           0
Degree_numeric                                   0
Family History of Mental Illness_numeric         0
Have you ever had suicidal thoughts ?_numeric    0
dtype: int64

In [66]:
testdata["Profession_numeric"]=testdata["Profession_numeric"].fillna("Student")

In [67]:
testdata.isnull().sum()

id                                               0
Age                                              0
CGPA                                             0
Work/Study Hours                                 0
Financial Stress                                 0
Gender_numeric                                   0
City_numeric                                     0
Profession_numeric                               0
Academic/work Pressure                           0
Study/job Satisfaction                           0
sleep_duration_numeric                           0
Dietary_Habits_numeric                           0
Degree_numeric                                   0
Family History of Mental Illness_numeric         0
Have you ever had suicidal thoughts ?_numeric    0
dtype: int64

In [68]:
# model building, training,evaluation:

In [69]:
x = dataset.drop('Depression', axis=1)
y = dataset['Depression']

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [71]:
# Step 2: Split the data into training and testing sets (80-20 split)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [72]:
# Step 3: Scale the features using StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [73]:
classifiers = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM (Linear)': SVC(kernel='linear')
}

In [74]:
for name, clf in classifiers.items():
    # Train the classifier
    clf.fit(x_train_scaled, y_train)
    
    # Predict on the test set
    y_pred = clf.predict(x_test_scaled)
    
    # Evaluate the accuracy
    accuracy = accuracy_score(y_test, y_pred)
    print(f'{name} Accuracy: {accuracy:.4f}')

Logistic Regression Accuracy: 0.9357
Decision Tree Accuracy: 0.9034
K-Nearest Neighbors Accuracy: 0.9276
Random Forest Accuracy: 0.9359
SVM (Linear) Accuracy: 0.9361

In [75]:
# working on new test data

In [76]:
new_x=testdata

In [78]:
new_x_scaled = scaler.transform(new_x)

In [79]:
test_predictions = pd.DataFrame()

In [80]:
print("Predictions on new data:\n")
for name, clf in classifiers.items():
    # Predict on new data
    new_y_pred = clf.predict(new_x_scaled)
    print(f'{name} Predictions: {new_y_pred}')
    
test_predictions["Predicted Values"]=new_y_pred
new_x['Predictions'] = test_predictions

# Save the predictions to an Excel file
test_predictions.to_excel('new_predictions.xlsx', index=False)

# Or save the complete DataFrame with original data and predictions
new_x.to_excel('new_data_with_predictions.xlsx', index=False)

Predictions on new data:

Logistic Regression Predictions: [0 0 0 ... 0 1 0]
Decision Tree Predictions: [0 0 1 ... 0 1 0]
K-Nearest Neighbors Predictions: [0 0 0 ... 0 1 0]
Random Forest Predictions: [0 0 0 ... 0 1 0]
SVM (Linear) Predictions: [0 0 0 ... 0 1 0]

In [84]:
from sklearn.model_selection import GridSearchCV
# Define classifiers and their respective hyperparameter grids
models_and_params = {
    'Logistic Regression': {
        'model': LogisticRegression(max_iter=500, random_state=42),
        'params': {
            'C': [0.1, 1, 10],
            'solver': ['liblinear', 'lbfgs'],
        },
    },
    'Decision Tree': {
        'model': DecisionTreeClassifier(random_state=42),
        'params': {
            'max_depth': [None, 10, 20],
            'min_samples_split': [2, 5, 10],
            'min_samples_leaf': [1, 2, 4],
        },
    },
    'K-Nearest Neighbors': {
        'model': KNeighborsClassifier(),
        'params': {
            'n_neighbors': [3, 5, 7],
            'weights': ['uniform', 'distance'],
            'metric': ['euclidean', 'manhattan'],
        },
    },
    'Random Forest': {
        'model': RandomForestClassifier(random_state=42),
        'params': {
            'n_estimators': [50, 100, 200],
            'max_depth': [None, 10, 20],
            'min_samples_split': [2, 5, 10],
        },
    },
    'SVM (Linear)': {
        'model': SVC(kernel='linear', random_state=42),
        'params': {
            'C': [0.1, 1, 10],
        },
    },
}

# Initialize results dictionary
results = {}

# Automate hyperparameter tuning
for name, mp in models_and_params.items():
    print(f"Tuning {name}...")
    grid_search = GridSearchCV(estimator=mp['model'], param_grid=mp['params'], 
                               cv=5, scoring='accuracy', verbose=1, n_jobs=-1)
    grid_search.fit(x_train_scaled, y_train)  # Train the model
    
    # Save best parameters and accuracy
    best_params = grid_search.best_params_
    best_score = grid_search.best_score_
    print(f"Best Parameters for {name}: {best_params}")
    print(f"Best Cross-Validation Accuracy for {name}: {best_score:.4f}")
    
    # Test on the test set
    y_pred = grid_search.best_estimator_.predict(x_test_scaled)
    test_accuracy = accuracy_score(y_test, y_pred)
    print(f"Test Set Accuracy for {name}: {test_accuracy:.4f}\n")
    
    # Store results
    results[name] = {
        'Best Parameters': best_params,
        'CV Accuracy': best_score,
        'Test Accuracy': test_accuracy,
    }

# Print summary of results
print("\nSummary of Results:")
for model_name, result in results.items():
    print(f"{model_name}:")
    print(f"  Best Parameters: {result['Best Parameters']}")
    print(f"  Cross-Validation Accuracy: {result['CV Accuracy']:.4f}")
    print(f"  Test Accuracy: {result['Test Accuracy']:.4f}")
    print()

Tuning Logistic Regression...
Fitting 5 folds for each of 6 candidates, totalling 30 fits
Best Parameters for Logistic Regression: {'C': 0.1, 'solver': 'lbfgs'}
Best Cross-Validation Accuracy for Logistic Regression: 0.9370
Test Set Accuracy for Logistic Regression: 0.9359

Tuning Decision Tree...
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Best Parameters for Decision Tree: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10}
Best Cross-Validation Accuracy for Decision Tree: 0.9288
Test Set Accuracy for Decision Tree: 0.9290

Tuning K-Nearest Neighbors...
Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best Parameters for K-Nearest Neighbors: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'uniform'}
Best Cross-Validation Accuracy for K-Nearest Neighbors: 0.9291
Test Set Accuracy for K-Nearest Neighbors: 0.9298

Tuning Random Forest...
Fitting 5 folds for each of 27 candidates, totalling 135 fits
Best Parameters for Random Forest: {'max_depth': None, 'min_samples_split': 10, 'n_estimators': 200}
Best Cross-Validation Accuracy for Random Forest: 0.9373
Test Set Accuracy for Random Forest: 0.9377

Tuning SVM (Linear)...
Fitting 5 folds for each of 3 candidates, totalling 15 fits
Best Parameters for SVM (Linear): {'C': 0.1}
Best Cross-Validation Accuracy for SVM (Linear): 0.9368
Test Set Accuracy for SVM (Linear): 0.9362


Summary of Results:
Logistic Regression:
  Best Parameters: {'C': 0.1, 'solver': 'lbfgs'}
  Cross-Validation Accuracy: 0.9370
  Test Accuracy: 0.9359

Decision Tree:
  Best Parameters: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10}
  Cross-Validation Accuracy: 0.9288
  Test Accuracy: 0.9290

K-Nearest Neighbors:
  Best Parameters: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'uniform'}
  Cross-Validation Accuracy: 0.9291
  Test Accuracy: 0.9298

Random Forest:
  Best Parameters: {'max_depth': None, 'min_samples_split': 10, 'n_estimators': 200}
  Cross-Validation Accuracy: 0.9373
  Test Accuracy: 0.9377

SVM (Linear):
  Best Parameters: {'C': 0.1}
  Cross-Validation Accuracy: 0.9368
  Test Accuracy: 0.9362

In [85]:
from sklearn.metrics import accuracy_score

# Dictionary of models
classifiers = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM (Linear)': SVC(kernel='linear', probability=True)  # Enable probabilities for SVM
}

# Train each model and evaluate using predicted probabilities
threshold = 0.5  # Default threshold for binary classification

for name, clf in classifiers.items():
    print(f"Evaluating {name}...")
    
    # Train the classifier
    clf.fit(x_train_scaled, y_train)
    
    # Get predicted probabilities
    if hasattr(clf, "predict_proba"):
        y_pred_proba = clf.predict_proba(x_test_scaled)[:, 1]  # Probability of the positive class
    else:
        y_pred_proba = clf.decision_function(x_test_scaled)  # For SVM, use decision_function
    
    # Convert probabilities to binary predictions based on the threshold
    y_pred = (y_pred_proba >= threshold).astype(int)
    
    # Evaluate accuracy
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy with Probabilities: {accuracy:.4f}\n")

Evaluating Logistic Regression...
Logistic Regression Accuracy with Probabilities: 0.9357

Evaluating Decision Tree...
Decision Tree Accuracy with Probabilities: 0.9012

Evaluating K-Nearest Neighbors...
K-Nearest Neighbors Accuracy with Probabilities: 0.9276

Evaluating Random Forest...
Random Forest Accuracy with Probabilities: 0.9360

Evaluating SVM (Linear)...
SVM (Linear) Accuracy with Probabilities: 0.9362